.hero{
  @include gradient($hero_grad1, $hero_grad2);
  @include row(12);
}

#projects{

  position:relative;
  max-height:240px;
  overflow:hidden;



  .arrow{
    position: absolute;
    display:block;
    z-index:500;
    top:50%;
    width:70px;
    height:70px;
    margin-top:-35px;

    opacity:0.8;

    @include gradient($hero_panel_grad1, $hero_panel_grad2);

    a{
      display:block;
      width:100%;
      height:100%;

      // @include hidetext;
      background: image_url("icons_front.png") 0 0 no-repeat;

      span{
        @include hidetext;
      }
    }
  }

  #right{
    right:0;

    a{
      background-position:-70px 0;
    }

  }

  #project_outer{
    width:690px;
    z-index:100;


    position:relative;

    margin:0 auto;
    height:260px;

    @media screen and (min-width: $break-large) {
      width:920px;
    }

    @media screen and (max-width: $break-tablet-wide) {
      // @include column(9, 12);
      width:420px;

    }

    @media screen and (max-width: $break-phone-large) {
      // @include column(9, 12);
      width:210px;

    }


    // padding:20px;
    .carousel-items{
      @include clearfix;
      position:absolute;
      z-index:1;
      left:200%;
      width:100%;
      clear:both;
      // margin-bottom: 50px;
      // display:none;

      // @include transitions(.2s, left);
    }



    .carousel-selected{
      position:relative;
      left:0;
      z-index:2;
    }

    .carousel-start{
      position:absolute;
      left:-150%;
      z-index:3;
      // @include transitions(.2s, left);
    }

    .carousel-start-reverse{
      position:absolute;
      left:150%;
      z-index:3;
      @include transitions(.2s, left);
    }

    .carousel-in{
      position:relative;
      left:0;
      z-index:3;
      @include transitions(.2s, left);
    }

    .carousel-out{
      position:absolute;
      left:150%;
      z-index:2;

      @include transitions(.2s, left);
    }

    .carousel-out-reverse{
      position:absolute;
      left:-150%;
      z-index:2;

      @include transitions(.2s, left);
    }


      article{
        float:left;
        position: relative;
        width:150px;
        height:195px;
        padding:10px;
        margin:10px 30px;

        @include gradient($hero_panel_grad1, $hero_panel_grad2);
        @include box_shadow;
        @include border-radius(2px);

        @media screen and (max-width: $break-tablet-wide) {
          margin:10px 20px;
        }

        img{
          margin:0 auto;
          width:100%;
        }

        .info{
          width:100%;
          // position: relative;
          text-align:center;

          h1{
            font-family:$body_font;
            font-weight:normal;
            // font-size:  1.231em;
          }

          a{
            position: absolute;
            width:120px;
            bottom:10px;
            left: 50%;
            margin-left:-60px;


            font-size:0.923em;
            color:$hero_color;
            text-align:center;
          }
        }

      }


  }

}